<footer class="footer">
    <ul id="menu">
        <li>
            <a href="/" class="menu-link">
                <img src="../../file/home_icon.png" alt="">
            </a>
        </li>
        <li>
            <a href="/introduce" class="menu-link">
                <img src="../../file/map_icon.png" alt="">
            </a>
        </li>
        <li>
            <a href="/course" class="menu-link">
                <img src="../../file/qr_icon.png" alt="">
            </a>
        </li>
        <li>
            <a href="/qr" class="menu-link">
                <img src="../../file/stamp_icon.png" alt="">
            </a>
        </li>
        <li>
            <a href="/profile" class="menu-link">
                <img src="../../file/myinfo_icon.png" alt="">
            </a>
        </li>
    </ul>
</footer>
<script>
const menuLinks = document.querySelectorAll('.menu-link');
// JavaScript (script.js)
window.addEventListener('load', () => {
    const currentPath = window.location.pathname;
    menuLinks.forEach((menuLink) => {
        if (menuLink.getAttribute('href') === currentPath) {
            menuLink.classList.add('active');
        } else {
            menuLink.classList.remove('active');
        }
    });
});
</script>
</body>
</html>