<%- include('common/header.ejs') %>
<header class="border_bottom">
    <img src="../file/header_logo_black.png" alt="">
</header>
<div class="grid_container">
    <div class="detail-course-img">
        <img src="../file/course_detail_img_2.png" alt="">
    </div>
    <div class="title course-title">
        화산마을
    </div>
    <div class="course-description">
        해발 828m 산 정산에 고랭지 채소를 주산물로 살아가는 마을이다.</br></br>
        마을 아래쪽에는 조선 숙종35년(1709) 애병마절도사 윤속이 왜적의 침입을 막기 위하여 지은 
        화산산성이 완공을 하지 못한 채 남아있다.</br></br>
        마을에서 내려다 보이는 주변 경관과 일출, 일몰이 장관이다.</br></br>
    </div>
</div>
<%- include('common/footer.ejs') %>