<%- include('common/header.ejs') %>
<!-- 스플래쉬 화면 -->
<div class="splash" id="splash">
    <img  class="splash_bg" src="../file/splash_bg.png" alt="">
    <img class="splash_logo" src="../file/splash_logo.png" alt="">
</div>
<script src="../js/splash.js"></script>

<!-- 군위로드란? & 이용안내 -->
<div class="home">
    <header>
        <img src="../file/header_logo_white.png" alt="">
    </header>
</div>
<%- include('common/footer.ejs') %>
 