<%- include('common/header.ejs') %>
<!-- 스플래쉬 화면 -->
<div class="splash" id="splash">
    <img  class="splash_bg" src="../file/splash_bg.png" alt="">
    <img class="splash_logo" src="../file/splash_logo.png" alt="">
</div>
<script src="../js/splash.js"></script>

<!-- 군위로드란? & 이용안내 -->
<div class="home">
    <header>
        <img src="../file/header_logo_white.png" alt="">
    </header>
    <div class="grid_container">
        <div class="catchphrase">
            <div class="main_text">
                군위로드와 </br>
                함께하는 대구 군위 여행
            </div>
            <div class="sub_text">
                QR 사진 찍고 경품 받아가세요!
            </div>
        </div>

        <div class="about_app_texts">
            <div class="about_gunwiroad">
                <div class="title main_title">
                    "환상적인 여정, 군위로드"
                </div>
                <div class="title sub_title">
                    군위로드란?
                </div>
                <div class="text">
                    "군위로드"는 군위군의 아름다운 관광지와 역사적 장소를 탐험하며
                    특별한 여행 경험을 제공하는 스탬프투어 하이브리드 앱입니다.
                    이 앱을 통해 군위의 다채로운 매력을 발견하고, 스탬프 수집 미션을 통해
                    독특한 보상을 얻으세요.
                </div>
                <div class="title sub_title">
                    주요 기능
                </div>
                <div class="text">
                    · 스탬프 수집과 탐험: 군위군의 주요 관광 명소를 방문하며 스탬프를 수집하고 탐험하세요.</br>
                    · 역사와 문화: 군위의 풍부한 역사와 문화에 대한 흥미로운 정보와 이야기를 만나보세요.</br>
                    · 현지 가이드: 현지 가이드와 함께 군위의 숨겨진 보물을 찾아보세요.</br>
                    · 자신만의 여행 계획: 원하는 일정에 맞춰 자신만의 스탬프투어 여행 계획을 세워보세요.</br>
                </div>
                <div class="text">
                    "군위로드" 앱을 통해 군위의 아름다운 자연 경관과 역사적인 유산을 탐험하며, 
                    흥미로운 스탬프 미션을 완료하여 특별한 경험을 즐기세요.
                </div>
            </div>
        </div>
        
    </div>
</div>
<%- include('common/footer.ejs') %>
 